/*I will add CSS later on as I finish this website */
img {
  height: 150px;
}
/* I will be adding more CSS below as I go into detail in this project */
.main {
  font-size: 20px;
}
#cook-time {
  font-weight: bold;
}
.ingredients li {
  list-style: square;
}
p, .time {
  color: Gray;
}
.external-link {
  color: SeaGreen;
}
